<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- values.properties 파일위치 설정하기 -->
	<context:property-placeholder location="classpath:values.properties"/>
	
	<!-- 전략2 시작 Bean을 어노테이션으로 선언하고 해당 Bean을 스캐닝하기 -->
	<!-- Component Scanning -->
	<context:component-scan base-package="myspring.di.annot" />
	<!-- 전략2 끝 -->
	
	<!-- 전략1 시작 모든 Bean을 xml에 설정하기 -->
	<!-- StringPrinter 클래스를 Bean으로 등록 -->
	<bean id="stringPrinter" class="myspring.di.xml.StringPrinter" />
	
	<!-- ConsolePrinter 클래스를 Bean으로 등록 -->
	<bean id="consolePrinter" class="myspring.di.xml.ConsolePrinter"  />
	
	<!--
	    void setFirstName(String name)    
		<property name="firstName" 
	-->
	<!-- Hello 클래스를 Bean으로 등록 Setter Injection -->
	<bean id="hello" class="myspring.di.xml.Hello" scope="singleton">
		<!-- setter injection -->
		<property name="name" value="${myname11}" />
		<property name="printer" ref="stringPrinter" />
	</bean>
	
	<!-- Hello 클래스를 Bean으로 등록 Constructor Injection -->
	<bean id="helloC" class="myspring.di.xml.Hello">
		<!-- constructor injection -->
		<constructor-arg index="0" value="${myname12}"  />
		<constructor-arg index="1" ref="consolePrinter" />
		<!-- setNames() 호출하는 setter injection 설정  -->
		<property name="names">
			<list>
				<value>Java</value>
				<value>SpringFW</value>
				<value>SpringBoot</value>
			</list>
		</property>
	</bean>
	<!-- 전략1 종료 -->
	
</beans>